msk-bpmn-engine/resources/diagram.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="symulacja">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="czynnosc">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="otoczenie">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="rozklad">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="unbounded" name="param">
                            <xsd:complexType>
                              <xsd:attribute name="nazwa" type="xsd:string" />
                              <xsd:attribute name="wartosc" type="xsd:string" />
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="id" type="xsd:string" />
                        <xsd:attribute name="rodzaj" type="xsd:string" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="id" type="xsd:string" />
                  <xsd:attribute name="dlugoscGenerowania" type="xsd:string" />
                  <xsd:attribute name="maxIloscZgloszen" type="xsd:string" />
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" name="kolejka">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="gniazdo">
                      <xsd:complexType>
                        <xsd:attribute name="id" type="xsd:string" />
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="koniec">
                      <xsd:complexType>
                        <xsd:attribute name="id" type="xsd:string" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="id" type="xsd:string" />
                  <xsd:attribute name="nieskonczona" type="xsd:boolean" />
                  <xsd:attribute name="maxDlugoscKolejki" type="xsd:string" />
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="bramka">
                <xsd:complexType>
                  <xsd:attribute name="id" type="xsd:string" />
                  <xsd:attribute name="rodzaj" type="xsd:string" />
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="semafor">
                <xsd:complexType>
                  <xsd:attribute name="id" type="xsd:string" />
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" name="polaczenie">
                <xsd:complexType>
                  <xsd:attribute name="id" type="xsd:string" />
                  <xsd:attribute name="od" type="xsd:string" />
                  <xsd:attribute name="do" type="xsd:string" />
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>